* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans 3", sans-serif;
}

p, span {
  font-weight: 400;
}

h1, h2, h3 {
  font-weight: 700;
}

button {
  font-weight: 400;
}