.assessment-progress-container {
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;
}

.assessment-progress-title {
  text-align: center;
  font-family: sans-serif;
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 10px;
  font-weight: 400;
  color: #4b0082;
}

.back-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-family: sans-serif;
}

.arrow {
  font-size: 18px;
}

.back-btn:hover {
  opacity: 0.7;
}
