.assessment-progress-container {
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;
}

.assessment-progress-title {
  text-align: center;
  font-family: sans-serif;
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 10px;
  font-weight: 400;
  color: #4b0082;
}

