.assessment-progress-container {
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;
}

.assessment-progress-title {
  text-align: center;
  font-family: sans-serif;
  margin-bottom: 20px;
  font-weight: 600;
  color: #4b0082;
}

