.modules-page {
    background-color: #f6f0ff;
    border: 1px solid #f6f0ff;
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

.footer-box {
    background-color: #f6f0ff;
    padding: 0;
    margin: 0;
}