.module-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;

  font-family: sans-serif;

  gap: 0;

  width: 95%;

  margin: 10px auto;
}

.module-code {
  color: white;
  background-color: #4b0082;

  font-size: 1.5em;

  border-radius: 20px;

  height: auto;

  text-align: center;

  margin: 0 auto;
  margin-bottom: -50px;

  padding: 10px;

  z-index: 2;
}

.module-title {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 20px;
}

.module-info {
  display: block;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: white;

  font-size: 1.5em;

  margin: 0 auto;

  border: 1px solid black;
  border-radius: 20px;

  text-align: left;

  height: auto;

  width: auto;

  padding: 25px;
  padding-bottom: 50px;

  z-index: 1;
}

.dropdown-box {
  display: flex;
  justify-content: center;
}

/* Dropdown Button */
.dropdown-btn {
  display: block;
  background-color: #4b0082;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 15px;
  margin: 0 auto;
  cursor: pointer;

  min-height: 44px;
  min-width: 44px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  top: 140px;
  border-radius: 20px;
  position: absolute;
  background-color: #f1f1f1;
  width: 30vw;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

@media (min-width: 768px) {
  .module-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;

    font-family: sans-serif;

    border: 2px solid;

    gap: 0;

    width: 95%;

    margin: 10px auto;
  }

  .module-code {
    min-width: 7vw;

    height: auto;
    max-height: 3rem;
    min-width: 3rem;

    margin: 25px auto;
    margin-right: -30px;

    padding: 25px;
    padding-top: 35px;

    z-index: 2;
  }

  .module-title {
    margin: auto 30px;
  }

  .module-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 30vw;

    margin: 25px auto;
    margin-left: 0;

    height: auto;
    min-width: 1rem;
    max-height: 3rem;

    padding: 25px;

    z-index: 1;
  }

  .dropdown-box {
    display: flex;
    justify-content: center;
  }

  /* Dropdown Button */
  .dropdown-btn {
    padding: 16px;
    font-size: 16px;
    margin: auto 10px;

    min-height: 44px;
    min-width: 44px;
  }

  .dropdown {
    position: relative;
    display: block;
  }

  .dropdown-content {
    display: none;
    top: 140px;
    border-radius: 20px;
    position: absolute;
    width: 30vw;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    padding: 12px 16px;
    display: block;
  }
}