.navbar {
    width: 100%;
    height: 60px;
    background-color: #2e006f;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    z-index: 9999;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-welcome {
    font-size: 18px;
    font-weight: 600;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-role {
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffff;
    padding: 10px 18px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 15px;
}

.navbar-link {
  margin-left: 1rem;
  text-decoration: none;
  color: #94849a;
  font-weight: 500;
}

.navbar-link:hover {
  text-decoration: underline;
}
.navbar-logout {
  margin-left: 1rem;
  padding: 8px 18px;
  border-radius: 999px;
  border: none;
  background-color: #f8b8b8;
  color: #2e006f;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
}

.navbar-logout:hover {
  background-color: #f39797;
}


.navbar-dropdown {
  position: relative;
  display: inline-block;
  margin-left: 1rem;
}

.navbar-dropbtn {
  background: transparent;
  color: #ffffff;
  border: none;
  font-weight: 500;
  cursor: pointer;
}

.navbar-dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #ffffff;
  min-width: 180px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  z-index: 10000; /* 比 navbar 自己略高一点 */
}

.navbar-dropdown:hover .navbar-dropdown-content {
  display: block;
}

.navbar-dropdown-item {
  display: block;
  padding: 8px 14px;
  text-decoration: none;
  color: #2e006f;
  font-size: 14px;
}

.navbar-dropdown-item:hover {
  background-color: #f4eef9;
}
