.navbar {
    width: 100%;
    height: 60px;
    background-color: #2e006f;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    z-index: 9999;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-welcome {
    font-size: 18px;
    font-weight: 600;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-role {
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffff;
    padding: 10px 18px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 15px;
}
